@import "tailwindcss";
#root {
    font-family:"inter" sans-serif ;
    font-optical-sizing:auto;
    font-size: normal;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Optional: Thin scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.hero-section {
  padding-top: 64px; /* same height as your fixed navbar */
}
